<body>

<h1 style="color:white"; align="center"> hello! </h1>

<!----
<button type="button"; class='first'>calculator</button>
---->

<%= link_to 'calculator', calculator_path, class: 'first'%>

</body>